* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #fdfdfd;
    --header-footer: #343849;
    --header-footer-hover: #5a7ba8;
    --odd-header: #ee7172;
    --even-header: #4fb8c6;
}

@font-face {
    font-family: "Montserrat Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2)
        format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Variable", sans-serif;
    background: var(--primary);
    font-size: 16px;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--header-footer);
    z-index: 9999;
}

header h1,
nav {
    width: 100%;
}

h1 {
    text-align: center;
    color: var(--primary);
}

header ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    align-items: center;

    a {
        text-decoration: none;
        color: var(--primary);
        padding: 1rem;
        font-size: 1.125rem;

        &:hover {
            background-color: var(--header-footer-hover);
        }
    }
}

#localitzacio {
    background-image: url("../img/bgimg1.jpg");
}

#caracteristiques-darrere {
    background-repeat: repeat;
    background-size: auto;
    background-image: url("../img/bg1.png");
}

#caracteristiques-davant {
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: auto;
    background-image: url("../img/bg2.png");
}

#fita {
    padding-block: 2rem;
    background-image: url("../img/bgimg3.jpg");
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bgimg4.jpg");
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(5deg);
    }
    20%,
    40%,
    60%,
    80% {
        transform: rotate(-5deg);
    }
}

img {
    max-width: 50vw;
}

img:hover {
    animation: shake 1s;
}

.parallax {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    p {
        padding: 5rem;
        background-color: var(--primary);
        text-align: justify;
        box-shadow: 1px 1px 3px black;
        font-size: 1.125rem;
        line-height: 1.5;
    }
}

h2 {
    font-weight: normal;
    letter-spacing: 0.1rem;
    word-spacing: 0.7rem;
    color: var(--primary);
    text-align: center;
    width: fit-content;
    padding: 1rem 2rem;
    box-shadow: 1px 1px 3px black;
}

h2.odd {
    background: var(--odd-header);
}

h2.even {
    background: var(--even-header);
}

footer {
    color: var(--primary);
    background-color: var(--header-footer);
    position: sticky;
    bottom: 0;
    text-align: center;
    padding-block: 1rem;

    a {
        text-decoration: none;
        color: var(--primary);

        &:hover {
            color: var(--header-footer-hover);
        }
    }
}

label {
    display: block;
    width: 100%;
    margin-bottom: 0.6rem;
}

input:not([type="radio"]):not([type="checkbox"]) {
    padding: 0.4rem;
    margin-top: 0.3rem;
    width: 100%;
}

input::placeholder {
    font-size: 1.125rem;
}

fieldset {
    padding-inline: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

legend {
    padding-inline: 1rem;
    margin-bottom: 0.5rem;
}

form {
    padding: 3rem;
    color: var(--primary);
    height: 100%;
    width: 50%;
    background-image: url("../img/bg2.png");
    border: 1px solid var(--primary);
    border-radius: 1rem;
}

form p {
    margin-bottom: 0.4rem;
}

form button {
    color: var(--primary);
    background-color: var(--header-footer);
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    width: 10rem;
    text-align: center;
    font-size: 1.125rem;

    &:hover,
    &:focus {
        background-color: var(--header-footer-hover);
        box-shadow: 1px 1px 3px black;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form button[type="reset"] {
    background-color: var(--primary);
    color: var(--header-footer);

    &:hover,
    &:focus {
        background-color: var(--odd-header);
    }
}
